:80
root * /usr/share/caddy
file_server browse

header {
    X-Robots-Tag none
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy no-referrer-when-downgrade
}

basicauth /754ca062-a341-4378-8b8c-ceb76d755c6c/* {
    754ca062-a341-4378-8b8c-ceb76d755c6c 
}

@websocket_xray_vmess {
header Connection *Upgrade*
header Upgrade    websocket
path /754ca062-a341-4378-8b8c-ceb76d755c6c-vmess
}
reverse_proxy @websocket_xray_vmess unix//etc/caddy/vmess


@websocket_xray_vless {
header Connection *Upgrade*
header Upgrade    websocket
path /754ca062-a341-4378-8b8c-ceb76d755c6c-vless
}
reverse_proxy @websocket_xray_vless unix//etc/caddy/vless

@websocket_xray_trojan {
header Connection *Upgrade*
header Upgrade    websocket
path /754ca062-a341-4378-8b8c-ceb76d755c6c-trojan
}
reverse_proxy @websocket_xray_trojan unix//etc/caddy/trojan

@websocket_xray_ss {
header Connection *Upgrade*
header Upgrade    websocket
path /754ca062-a341-4378-8b8c-ceb76d755c6c-ss
}
reverse_proxy @websocket_xray_ss 127.0.0.1:4234

@websocket_xray_socks {
header Connection *Upgrade*
header Upgrade    websocket
path /754ca062-a341-4378-8b8c-ceb76d755c6c-socks
}
reverse_proxy @websocket_xray_socks 127.0.0.1:5234
